<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="<%= url %>" class="card-img-top" width="100%"/>
        <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= name %></h5>
        <p class="card-text"><%= body %></p>
    </div>
</div>