<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Wandrlust</title>
    <link href="/PageCss/body.css" rel="stylesheet">
    <link href="/PageCss/about.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar.ejs', { name: name, isLoggedIn: isLoggedIn, email: email}); %>
        <div class="feat bg-gray pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="section-head col-sm-12">
                        <h4 style="padding-top: 5rem;"><span>About</span> Us?</h4>
                        <p>Our platform provides a centralized hub for travel information and planning, allowing travellers to easily access the resources they need to plan their trip. Our community also enables travellers to connect with others who share their passion for adventure, offering support, friendship, and a sense of belonging. WandrLust makes traveling and exploring new destinations a seamless, enjoyable, and enriching experience.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
                            <h6>Informative</h6>
                            <p>Allow users to connect with other travellers with similar interests. Users can share their experiences and connect with like-minded individuals.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
                            <h6>Creative Design</h6>
                            <p>We are always creative and always listen to our customers and we provide users with tools to make their travel experiences more memorable and organized. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item"> <span class="icon feature_box_col_three"><i
                                    class="fa fa-hourglass-half"></i></span>
                            <h6>24 x 7 User Support</h6>
                            <p>If our customer has any problem and any query we are always happy to help them and they can connect with us via <a style="text-decoration: none; color: black;" href="/contact">Contact US.</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                            <h6>Business Growth</h6>
                            <p>Planning a trip can be often a challenge, especially for those who are new to it.
                                Without a reliable platform for travel planning and information, travelers are often left to rely on scattered resources and word-of-mouth recommendations.
                                This can result in subpar travel experiences, as travelers may not have access to the best resources or information about their destination.
                                Our platform aims to tackle the exact same problem.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                            <h6>Market Strategy</h6>
                            <p>The travel industry is a flourishing industry that caters to an individual’s sense of adventure, drive for ambition, and curiosity about culture. Our Website is easy to navigate and has ample of images to make it attractive and readable.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
                            <h6>Affordable cost</h6>
                            <p>Our website is completely free to use and offers many different functionalities like adding a post, budget tracking system, location details and other user's experiences which can help you to preplan your travel needs and arrange all the facilities before hand.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
</body>

</html>