<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Wandrlust</title>
    <link href="/PageCss/body.css" rel="stylesheet">
    <link href="/PageCss/about.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar.ejs', { name: name, isLoggedIn: isLoggedIn, email: email}); %>
    <div style="width: 100%; display: flex; justify-content: center; padding: 5rem";>
        <img src="/Gifs/404-error.svg" width="40%"/>
    </div>
</body>

</html>